{% extends 'modulo1/front/main.html' %} {% load static %} {% block contenido %}
{% load crispy_forms_tags %}
<div class="row col-12 col-md-6 offset-md-3 pt-2">

    <div class="card">
        <div class="card-body">
            <h2> Nueva Raza </h2>
            
            <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Volver a tienda</a>
            <hr>
            <form action="" class="formulario_raza" method="post" enctype="multipart/form-data">

                {% csrf_token %} {{ raza_form | crispy}}

                <div class="d-flex justify-content-end">
                    <input type="reset" value="Cancelar" class="btn btn-success"> &nbsp;
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>


            </form>
        </div>
    </div>

</div>
{% endblock%}