
{% extends 'modulo1/main.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
       
    <div class="row">
        <div class="col-12 align-content-center">
            <br>
            <div class="card">
                <div class="card-body">
                    <br>
                    <h2>Registro de usuario</h2>
                    <hr>

                    <form action="" method="post">

                        {% csrf_token %} 
                        {{ form }}
                        <a href="{% url 'tienda' %}" >ir a la tienda</a>
                        <a href="{% url 'login' %}" >Iniciar sesion</a>
                        <hr>
                        <input type="reset" value="Cancelar" class="btn btn-danger"> &nbsp;
                        <input type="submit" class="btn btn-primary" value="Registrar" >
                    
                    </form>

                </div>
            </div>
<br>
        </div>
    </div>

</div>


{% endblock contenido %}
